<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.user.dao.RoleDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.user.model.Role" >
		<result column="id" property="id" />
		<result column="role_name" property="roleName" />
		<result column="status" property="status" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="role_dsc" property="roleDsc" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                role_name,
                status,
                role_dsc,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="pageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_role
		<where>
			<if test ='null != entity.createTimeSta'>
				create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 全部 1 名称 2 ID -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and role_name = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and id = #{entity.queryName}
				</if>
				<!-- 综合查询 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					role_name = #{entity.queryName}
					or id = #{entity.queryName}
					)
				</if>
			</if>
		</where>
	</select>



	<select id="findList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_role
	</select>

	<select id="qeuryById" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_role
		WHERE
			id = #{id}
	</select>
	
	<insert id="addBatch" >
		INSERT INTO t_role(
			id,
			role_name,
			status,
			role_dsc,
			create_time,
			create_by,
			update_time,
			update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.roleName},
				#{item.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.roleDsc},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<update id="update">
		UPDATE t_role
		<set>
			<if test ='null != roleName'>
				role_name = #{roleName},
			</if>
			<if test ='null != status'>
				status = #{status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != roleDsc'>
				role_dsc = #{roleDsc},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="qeuryByIds" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_role
		WHERE
			id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>