<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.user.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.user.model.User" >
		<result column="id" property="id" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="photo_url" property="photoUrl" />
		<result column="user_name" property="userName" />
		<result column="sex" property="sex" />
		<result column="phone" property="phone" />
		<result column="mail" property="mail" />
		<result column="source" property="source" />
		<result column="province_name" property="provinceName" />
		<result column="province_code" property="provinceCode" />
		<result column="city_name" property="cityName" />
		<result column="city_code" property="cityCode" />
		<result column="district_name" property="districtName" />
		<result column="district_code" property="districtCode" />
		<result column="address" property="address" />
		<result column="company" property="company" />
		<result column="type" property="type" />
		<result column="del_state" property="delState" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                account,
                password,
                photo_url,
                user_name,
                sex,
                phone,
                mail,
                source,
                province_name,
                province_code,
                city_name,
                city_code,
                district_name,
                district_code,
                address,
                company,
                type,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="findList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_user
	</select>
</mapper>