<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.user.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.user.model.User" >
		<result column="id" property="id" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="role_id" property="roleId" />
		<result column="photo_url" property="photoUrl" />
		<result column="user_name" property="userName" />
		<result column="sex" property="sex" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="phone" property="phone" />
		<result column="mail" property="mail" />
		<result column="source" property="source" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="province_name" property="provinceName" />
		<result column="province_code" property="provinceCode" />
		<result column="city_name" property="cityName" />
		<result column="city_code" property="cityCode" />
		<result column="district_name" property="districtName" />
		<result column="district_code" property="districtCode" />
		<result column="address" property="address" />
		<result column="company" property="company" />
		<result column="type" property="type" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="status" property="status" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                account,
                password,
                role_id,
                photo_url,
                user_name,
                sex,
                phone,
                mail,
                source,
                province_name,
                province_code,
                city_name,
                city_code,
                district_name,
                district_code,
                address,
                company,
                type,
                status,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="findList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_user
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.source'>
				and source = #{entity.source, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 全部 1 手机号 2 姓名 3 ID -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and phone = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and user_name = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 3'>
					and id = #{entity.queryName}
				</if>
				<!-- 综合查询 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
						phone = #{entity.queryName}
						or user_name = #{entity.queryName}
						or id = #{entity.queryName}
					)
				</if>
			</if>
		</where>
	</select>

	<select id="kukaPageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_user
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.roleId'>
				and role_id = #{entity.roleId}
			</if>
			<if test ='null != entity.source'>
				and source = #{entity.source, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.type'>
				and type = #{entity.type, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 全部 1 手机号 2 姓名 3 ID -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and phone = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and user_name = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 3'>
					and id = #{entity.queryName}
				</if>
				<!-- 综合查询 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					phone = #{entity.queryName}
					or user_name = #{entity.queryName}
					or id = #{entity.queryName}
					)
				</if>
			</if>
		</where>
	</select>
	
	<insert id="addUser" >
		INSERT INTO t_user(
				id,
                account,
                password,
                role_id,
                photo_url,
                user_name,
                sex,
                phone,
                mail,
                source,
                province_name,
                province_code,
                city_name,
                city_code,
                district_name,
                district_code,
                address,
                company,
                type,
				status,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.id},
			#{item.account},
			#{item.password},
			#{item.roleId},
			#{item.photoUrl},
			#{item.userName},
			#{item.sex, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			#{item.phone},
			#{item.mail},
			#{item.source, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			#{item.provinceName},
			#{item.provinceCode},
			#{item.cityName},
			#{item.cityCode},
			#{item.districtName},
			#{item.districtCode},
			#{item.address},
			#{item.company},
			#{item.type, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			#{item.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			#{item.createTime},
			#{item.createBy},
			#{item.updateTime},
			#{item.updateBy}
			)
		</foreach>
	</insert>

	<update id="updateUser">
		UPDATE t_user
		<set>
			<if test ='null != account'>
				account = #{account},
			</if>
			<if test ='null != password'>
				password = #{password},
			</if>
			<if test ='null != roleId'>
				role_id = #{roleId},
			</if>
			<if test ='null != photoUrl'>
				photo_url = #{photoUrl},
			</if>
			<if test ='null != userName'>
				user_name = #{userName},
			</if>
			<if test ='null != sex'>
				sex = #{sex, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != phone'>
				phone = #{phone},
			</if>
			<if test ='null != mail'>
				mail = #{mail},
			</if>
			<if test ='null != source'>
				source = #{source, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != provinceName'>
				province_name = #{provinceName},
			</if>
			<if test ='null != provinceCode'>
				province_code = #{provinceCode},
			</if>
			<if test ='null != cityName'>
				city_name = #{cityName},
			</if>
			<if test ='null != cityCode'>
				city_code = #{cityCode},
			</if>
			<if test ='null != districtName'>
				district_name = #{districtName},
			</if>
			<if test ='null != districtCode'>
				district_code = #{districtCode},
			</if>
			<if test ='null != address'>
				address = #{address},
			</if>
			<if test ='null != company'>
				company = #{company},
			</if>
			<if test ='null != type'>
				type = #{type, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != status'>
				status = #{status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE
			id = #{id}
	</update>

	<update id="delUser">
		UPDATE t_user
		<set>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE
			id = #{id}
	</update>

	<select id="queryById" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		t_user
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState}
			</if>
			<if test ='null != entity.id'>
				and id = #{entity.id}
			</if>
			<if test ='null != entity.source'>
				and source = #{entity.source}
			</if>
		</where>
	</select>
</mapper>