logging:
  level:
    root: info
    com.camelot.kuka: debug
  file: logs/${spring.application.name}.log
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  mvc:
    servlet:
      load-on-startup: 1
  aop:
    proxy-target-class: true
  zipkin:
    base-url: http://localhost:9411
    enabled: true
    sender:
      type: web
security:
  oauth2:
    resource:
      user-info-uri: http://localhost:8080/api/api-o/user-me
      prefer-token-info: false

files:
  ip: http://52.83.60.249