<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.ApplicationImgDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.ApplicationImg" >
		<result column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="url" property="url" />
	</resultMap>

	<sql id="Base_Column_List">
			id,
			app_id,
			url
    </sql>

	<delete id="deleteByAppId">
		DELETE FROM
			t_application_img
		WHERE
			app_id = #{appId}
	</delete>

	<insert id="insertBatch">
		INSERT INTO t_application_img(
			id,
			app_id,
			url
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.id},
			#{item.appId},
			#{item.url}
			)
		</foreach>
	</insert>

	<select id="selectList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application_img
		WHERE
			app_id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>