<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.ApplicationDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.Application" >
		<result column="id" property="id" />
		<result column="app_name" property="appName" />
		<result column="app_code" property="appCode" />
		<result column="class_type" property="classType" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="trade_count" property="tradeCount" />
		<result column="file_sum" property="fileSum" />
		<result column="price" property="price" />
		<result column="contact_by" property="contactBy" />
		<result column="contact_phone" property="contactPhone" />
		<result column="contact_mail" property="contactMail" />
		<result column="app_range" property="appRange" />
		<result column="industry" property="industry" />
		<result column="advantage_desc" property="advantageDesc" />
		<result column="assembly_details" property="assemblyDetails" />
		<result column="app_desc" property="appDesc" />
		<result column="app_explain" property="appExplain" />
		<result column="supplier_id" property="supplierId" />
		<result column="request_count" property="requestCount" />
		<result column="app_status" property="appStatus" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="opinion" property="opinion"/>
		<result column="licence_str" property="licenceStr"/>
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                app_name,
                app_code,
                class_type,
                trade_count,
                file_sum,
                price,
                contact_by,
                contact_phone,
                contact_mail,
                app_range,
                industry,
                advantage_desc,
                assembly_details,
                app_desc,
                app_explain,
                supplier_id,
                request_count,
                app_status,
                opinion,
                licence_str,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="queryList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.classType'>
				and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.appStatus'>
				and app_status = #{entity.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.supplierId'>
				and supplier_id = #{entity.supplierId}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 名称 1 ID 2 交易数 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and app_name like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and trade_count = #{entity.queryName}
				</if>
			</if>
		</where>
	</select>

	<select id="supplierPageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.classType'>
				and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.appStatus'>
				and app_status = #{entity.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.supplierId'>
				and supplier_id = #{entity.supplierId}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 名称 1 ID 2 交易数 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and app_name like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and trade_count = #{entity.queryName}
				</if>
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.supplierIds'>
				and supplier_id in
				<foreach collection="entity.supplierIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<select id="visitorPageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.classType'>
				and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.appStatus'>
				and app_status = #{entity.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.supplierId'>
				and supplier_id = #{entity.supplierId}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 名称 1 ID 2 交易数 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and app_name like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and trade_count = #{entity.queryName}
				</if>
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.loginName'>
				and create_by = #{entity.loginName}
			</if>
		</where>
	</select>

	<insert id="insertBatch">
		INSERT INTO t_application(
				id,
                app_name,
                app_code,
                class_type,
                trade_count,
                file_sum,
				price,
                contact_by,
                contact_phone,
                contact_mail,
                app_range,
                industry,
                advantage_desc,
                assembly_details,
                app_desc,
                app_explain,
                supplier_id,
                request_count,
                app_status,
				opinion,
				licence_str,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.appName},
				#{item.appCode},
				#{item.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.tradeCount},
				#{item.fileSum},
				#{item.price},
				#{item.contactBy},
				#{item.contactPhone},
				#{item.contactMail},
				#{item.appRange},
				#{item.industry},
				#{item.advantageDesc},
				#{item.assemblyDetails},
				#{item.appDesc},
				#{item.appExplain},
				#{item.supplierId},
				#{item.requestCount},
				#{item.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.opinion},
				#{item.licenceStr},
				#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<select id="selectById" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.classType'>
				and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.id'>
				and id = #{entity.id}
			</if>
		</where>
	</select>

	<select id="queryCurrencyList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		WHERE
			id in (
				select
					currency_id
				from
					t_application_currency
				where
					app_id = #{appId}
		)
	</select>

	<update id="update">
		UPDATE t_application
		<set>
			<if test ='null != appName'>
				app_name = #{appName},
			</if>
			<if test ='null != appCode'>
				app_code = #{appCode},
			</if>
			<if test ='null != classType'>
				class_type = #{classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != tradeCount'>
				trade_count = #{tradeCount},
			</if>
			<if test ='null != fileSum'>
				file_sum = #{fileSum},
			</if>
			<if test ='null != price'>
				price = #{price},
			</if>
			<if test ='null != contactBy'>
				contact_by = #{contactBy},
			</if>
			<if test ='null != contactPhone'>
				contact_phone = #{contactPhone},
			</if>
			<if test ='null != contactMail'>
				contact_mail = #{contactMail},
			</if>
			<if test ='null != appRange'>
				app_range = #{appRange},
			</if>
			<if test ='null != industry'>
				industry = #{industry},
			</if>
			<if test ='null != advantageDesc'>
				advantage_desc = #{advantageDesc},
			</if>
			<if test ='null != assemblyDetails'>
				assembly_details = #{assemblyDetails},
			</if>
			<if test ='null != appDesc'>
				app_desc = #{appDesc},
			</if>
			<if test ='null != appExplain'>
				app_explain = #{appExplain},
			</if>
			<if test ='null != supplierId'>
				supplier_id = #{supplierId},
			</if>
			<if test ='null != requestCount'>
				request_count = #{requestCount},
			</if>
			<if test ='null != appStatus'>
				app_status = #{appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != opinion'>
				opinion = #{opinion},
			</if>
			<if test ='null != licenceStr'>
				licence_str = #{licenceStr},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="homeAppList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		WHERE
		     1 = 1
			<if test ='null != entity.delState'>
				and del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.classType'>
				and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.appStatus'>
				and app_status = #{entity.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.supplierId'>
				and supplier_id = #{entity.supplierId}
			</if>

			<!--默认排序-->
			order by trade_count desc
			<!--放在最后面的-->
			<if test ='null != entity.size'>
				LIMIT #{entity.size}
			</if>
	</select>

	<select id="homePageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application
		WHERE
		<if test ='null != entity.delState'>
			del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
		</if>
		<if test ='null != entity.appStatus'>
			and app_status = #{entity.appStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
		</if>
		<if test ='null != entity.classType'>
			and class_type = #{entity.classType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
		</if>
		<if test ='null != entity.supplierId'>
			and supplier_id = #{entity.supplierId}
		</if>
		<if test ='null != entity.queryName and entity.queryName != ""'>


			<!-- 6的时候是集成商查询-->
			<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 6'>
				and app_name = #{entity.queryName}
				and supplier_id in
				(
					select id from t_supplier where supplierl_name like CONCAT('%',#{entity.queryName},'%')
				)
			</if>

			<!-- 其余都是分类查询-->
			<if test ='null != entity.queryTypeCode and entity.queryTypeCode != 6'>
				and app_name like CONCAT('%',#{entity.queryName},'%')
				and class_type = #{entity.queryType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
		</if>
		order by id desc
	</select>

	<update id="updateApplicationNum">
		UPDATE t_application
			SET
			trade_count = trade_count + #{tradeCount}
		WHERE id = #{id}
	</update>

	<update id="updateApplicationBySupplier">
		UPDATE
			t_application
		SET
			del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
		WHERE
			supplier_id = #{supplierId}
	</update>
</mapper>