<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.ApplicationProbleDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.ApplicationProblem" >
		<result column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="title" property="title" />
		<result column="answer" property="answer" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                app_id,
                title,
                answer,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<insert id="insertBatch">
		INSERT INTO t_application_problem(
			id,
			app_id,
			title,
			answer,
			create_time,
			create_by,
			update_time,
			update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.appId},
				#{item.title},
				#{item.answer},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<delete id="deleteByAppIds">
		DELETE FROM
			t_application_problem
		WHERE
			app_id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="queryListByAppId" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_application_problem
		WHERE
			app_id = #{appId}
	</select>
</mapper>