<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.CommentDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.Comment" >
		<result column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="order_no" property="orderNo" />
		<result column="app_id" property="appId" />
		<result column="comment_desc" property="commentDesc" />
		<result column="comment_url" property="commentUrl" />
		<result column="comment_type" property="commentType" />
		<result column="status" property="status" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="adopt_time" property="adoptTime" />
		<result column="user_id" property="userId" />
		<result column="photo_url" property="photoUrl" />
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                order_id,
                order_no,
                app_id,
                comment_desc,
                comment_url,
                comment_type,
                status,
                adopt_time,
                user_id,
                photo_url,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="pageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_comment
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.adoptTimeSta'>
				and adopt_time &gt;= #{entity.adoptTimeSta}
			</if>
			<if test ='null != entity.adoptTimeEnd'>
				and adopt_time &lt;= #{entity.adoptTimeEnd}
			</if>
			<if test ='null != entity.commentType'>
				and comment_type = #{entity.commentType}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!--  0 全部 1 产品名称 2 订单编号 3 ID-->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 3'>
					and id = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and order_no like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and order_id in
					(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					id = #{entity.queryName}
					or order_no like CONCAT('%',#{entity.queryName},'%')
					or order_id in
					(select order_id from t_order_detailed where app_name = #{entity.queryName})
					)
				</if>
			</if>
		</where>
	</select>

	<select id="queryByOrderIds" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_comment
		WHERE
			del_state = 0
			AND
			order_id in
			<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>

	<select id="queryByAppId" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_comment
		WHERE
				del_state = 0
			AND app_id = #{appId}
	</select>

	<update id="update">
		UPDATE t_comment
		<set>
			<if test ='null != orderId'>
				order_id = #{orderId},
			</if>
			<if test ='null != orderNo'>
				order_no = #{orderNo},
			</if>
			<if test ='null != appId'>
				app_id = #{appId},
			</if>
			<if test ='null != commentDesc'>
				comment_desc = #{commentDesc},
			</if>
			<if test ='null != commentUrl'>
				comment_url = #{commentUrl},
			</if>
			<if test ='null != commentType'>
				comment_type = #{commentType},
			</if>
			<if test ='null != status'>
				status = #{status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != adoptTime'>
				adopt_time = #{adoptTime},
			</if>
			<if test ='null != userId'>
				user_id = #{userId},
			</if>
			<if test ='null != photoUrl'>
				photo_url = #{photoUrl},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="queryInfo" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_comment
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.id'>
				and id = #{entity.id}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.commentType'>
				and comment_type = #{entity.commentType}
			</if>
		</where>
	</select>

	<insert id="addBatch">
		INSERT INTO t_comment(
				id,
				order_id,
				order_no,
				app_id,
				comment_desc,
				comment_url,
				comment_type,
				status,
				adopt_time,
				user_id,
				photo_url,
				del_state,
				create_time,
				create_by,
				update_time,
				update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.orderId},
				#{item.orderNo},
				#{item.appId},
				#{item.commentDesc},
				#{item.commentUrl},
				#{item.commentType},
				#{item.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.adoptTime},
				#{item.userId},
				#{item.photoUrl},
				#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<select id="queryList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_comment
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.commentType'>
				and comment_type = #{entity.commentType}
			</if>
			<if test ='null != entity.appId'>
				and app_id = #{entity.appId}
			</if>
		</where>
	</select>
</mapper>