<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.MailMouldDao">

    <resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.MailMould" >
        <result column="id" property="id" />
        <result column="mould_name" property="mouldName" />
        <result column="mould_code" property="mouldCode" />
        <result column="type" property="type" />
        <result column="message" property="message" />
        <result column="del_state" property="delState" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        mould_name,
        mould_code,
        type,
        message,
        del_state,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>

    <insert id="insert"  parameterType="com.camelot.kuka.backend.model.MailMould">
        INSERT INTO t_mail_mould
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != mouldName'>
                mould_name,
            </if>
            <if test ='null != mouldCode'>
                mould_code,
            </if>
            <if test ='null != type'>
                type,
            </if>
            <if test ='null != message'>
                message,
            </if>
            <if test ='null != delState'>
                del_state,
            </if>
            <if test ='null != createTime'>
                create_time,
            </if>
            <if test ='null != createBy'>
                create_by,
            </if>
            <if test ='null != updateTime'>
                update_time,
            </if>
            <if test ='null != updateBy'>
                update_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != mouldName'>
                #{mouldName},
            </if>
            <if test ='null != mouldCode'>
                #{mouldCode},
            </if>
            <if test ='null != type'>
                #{type},
            </if>
            <if test ='null != message'>
                #{message},
            </if>
            <if test ='null != delState'>
                #{delState},
            </if>
            <if test ='null != createTime'>
                #{createTime},
            </if>
            <if test ='null != createBy'>
                #{createBy},
            </if>
            <if test ='null != updateTime'>
                #{updateTime},
            </if>
            <if test ='null != updateBy'>
                #{updateBy}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM t_mail_mould
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.camelot.kuka.backend.model.MailMould">
        UPDATE t_mail_mould
        <set>
            <if test ='null != mouldName'>mould_name = #{mouldName},</if>
            <if test ='null != mouldCode'>mould_code = #{mouldCode},</if>
            <if test ='null != type'>type = #{type},</if>
            <if test ='null != message'>message = #{message},</if>
            <if test ='null != delState'>del_state = #{delState},</if>
            <if test ='null != createTime'>create_time = #{createTime},</if>
            <if test ='null != createBy'>create_by = #{createBy},</if>
            <if test ='null != updateTime'>update_time = #{updateTime},</if>
            <if test ='null != updateBy'>update_by = #{updateBy}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_mail_mould
        WHERE id = #{id}
    </select>

    <select id="findAllList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_mail_mould
        <if test="type != 0">
            where type = #{type} or type = 3
        </if>
    </select>


</mapper>
