<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.OrderDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.Order" >
		<result column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="contact_by" property="contactBy" />
		<result column="contact_phone" property="contactPhone" />
		<result column="contact_mail" property="contactMail" />
		<result column="sun_price" property="sunPrice" />
		<result column="status" property="status" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="remarks" property="remarks" />
		<result column="order_phone" property="orderPhone" />
		<result column="order_mail" property="orderMail" />
		<result column="pay_type" property="payType" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="serial_number" property="serialNumber"/>
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                order_no,
                contact_by,
                contact_phone,
                contact_mail,
                sun_price,
                status,
                remarks,
                order_phone,
                order_mail,
                pay_type,
                serial_number,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="pageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_order
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!--  全部 1 产品名称 2 订单编号-->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and order_no like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id in
						(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
						order_no like CONCAT('%',#{entity.queryName},'%')
					or id in
						(select order_id from t_order_detailed  where app_name like CONCAT('%',#{entity.queryName},'%'))
					)
				</if>
			</if>
		</where>
	</select>

	<select id="supplierPageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_order
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!--  全部 1 产品名称 2 订单编号-->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and order_no like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id in
					(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					order_no like CONCAT('%',#{entity.queryName},'%')
					or id in
					(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
					)
				</if>
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.supplierIds'>
				and
				(
					create_by = #{entity.loginName}
				or
					id in
					(
						select
							order_id from t_order_detailed
						where
							supplier_id in
							<foreach collection="entity.supplierIds" index="index" item="item" open="(" separator="," close=")">
								#{item}
							</foreach>
					)
				)
			</if>
		</where>
	</select>

	<select id="visitorPageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_order
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.status'>
				and status = #{entity.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createTimeSta'>
				and create_time &gt;= #{entity.createTimeSta}
			</if>
			<if test ='null != entity.createTimeEnd'>
				and create_time &lt;= #{entity.createTimeEnd}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!--  全部 1 产品名称 2 订单编号-->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and order_no like CONCAT('%',#{entity.queryName},'%')
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and id in
					(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					order_no like CONCAT('%',#{entity.queryName},'%')
					or id in
					(select order_id from t_order_detailed where app_name like CONCAT('%',#{entity.queryName},'%'))
					)
				</if>
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.loginName'>
				and create_by = #{entity.loginName}
			</if>
		</where>
	</select>

	<select id="queryById" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_order
		<where>
			<if test ='null != entity.id'>
				id = #{entity.id}
			</if>
			<if test ='null != entity.delState'>
				and del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
		</where>
	</select>

	<update id="update">
		UPDATE t_order
		<set>
			<if test ='null != orderNo'>
				order_no = #{orderNo},
			</if>
			<if test ='null != contactBy'>
				contact_by = #{contactBy},
			</if>
			<if test ='null != contactPhone'>
				contact_phone = #{contactPhone},
			</if>
			<if test ='null != contactMail'>
				contact_mail = #{contactMail},
			</if>
			<if test ='null != sunPrice'>
				sun_price = #{sunPrice},
			</if>
			<if test ='null != status'>
				status = #{status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != orderPhone'>
				order_phone = #{orderPhone},
			</if>
			<if test ='null != orderMail'>
				order_mail = #{orderMail},
			</if>
			<if test ='null != remarks'>
				remarks = #{remarks},
			</if>
			<if test ='null != payType'>
				pay_type = #{payType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != serialNumber'>
				serial_number = #{serialNumber},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		<where>
			<if test ='null != id'>
				id = #{id}
			</if>
			<if test ='null != orderNo'>
				and order_no = #{orderNo}
			</if>
		</where>
	</update>

	<select id="queryByIds" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_order
		WHERE
		id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<insert id="addBatch">
		INSERT INTO t_order(
				id,
				order_no,
				contact_by,
				contact_phone,
				contact_mail,
				sun_price,
				status,
				remarks,
				order_phone,
				order_mail,
				pay_type,
				serial_number,
				del_state,
				create_time,
				create_by,
				update_time,
				update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.orderNo},
				#{item.contactBy},
				#{item.contactPhone},
				#{item.contactMail},
				#{item.sunPrice},
				#{item.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.remarks},
				#{item.orderPhone},
				#{item.orderMail},
				#{item.payType, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.serialNumber},
				#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>
</mapper>