<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.ShopCartDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.ShopCart" >
		<result column="id" property="id" />
		<result column="app_url" property="appUrl" />
		<result column="app_id" property="appId" />
		<result column="app_name" property="appName" />
		<result column="supplier_id" property="supplierId" />
		<result column="price" property="price" />
		<result column="num" property="num" />
		<result column="sun_price" property="sunPrice" />
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                app_url,
                app_id,
                app_name,
                supplier_id,
                price,
                num,
                sun_price,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="queryList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_shop_cart
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createBy'>
				and create_by = #{entity.createBy}
			</if>
		</where>
	</select>

	<select id="queryInfo" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_shop_cart
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.createBy'>
				and create_by = #{entity.createBy}
			</if>
			<if test ='null != entity.appId'>
				and app_id = #{entity.appId}
			</if>
		</where>
	</select>


	<insert id="insertBatch">
		INSERT INTO
		t_shop_cart(
			id,
			app_url,
			app_id,
			app_name,
			supplier_id,
			price,
			num,
			sun_price,
			del_state,
			create_time,
			create_by,
			update_time,
			update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.appUrl},
				#{item.appId},
				#{item.appName},
				#{item.supplierId},
				#{item.price},
				#{item.num},
				#{item.sunPrice},
				#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<update id="update">
		UPDATE
			t_shop_cart
		<set>
			<if test ='null != appUrl'>
				app_url = #{appUrl},
			</if>
			<if test ='null != appId'>
				app_id = #{appId},
			</if>
			<if test ='null != appName'>
				app_name = #{appName},
			</if>
			<if test ='null != supplierId'>
				supplier_id = #{supplierId},
			</if>
			<if test ='null != price'>
				price = #{price},
			</if>
			<if test ='null != num'>
				num = #{num},
			</if>
			<if test ='null != sunPrice'>
				sun_price = #{sunPrice},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
			WHERE id = #{id}
	</update>

	<update id="updateDel">
		UPDATE
			t_shop_cart
		<set>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != entity.updateTime'>
				update_time = #{entity.updateTime},
			</if>
			<if test ='null != entity.updateBy'>
				update_by = #{entity.updateBy}
			</if>
		</set>
			WHERE
			id in
			<foreach collection="entity.ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</update>

	<select id="selectIds" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_shop_cart
		WHERE
			id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>