<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.kuka.backend.dao.SupplierRequestDao">

	<resultMap id="BaseResultMap" type="com.camelot.kuka.backend.model.SupplierRequest" >

		<result column="id" property="id" />
		<result column="supplier_url" property="supplierUrl" />
		<result column="supplier_id" property="supplierId" />
		<result column="supplier_name" property="supplierName" />
		<result column="location" property="location" />
		<result column="duty_name" property="dutyName" />
		<result column="duty_id" property="dutyId" />
		<result column="duty_phone" property="dutyPhone" />
		<result column="mail" property="mail" />
		<result column="address" property="address" />
		<result column="status" property="status" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_photo_url" property="userPhotoUrl" />
		<result column="user_phone" property="userPhone" />
		<result column="user_mail" property="userMail" />
		<result column="jump_status" property="jumpStatus" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="message" property="message" />
		<result column="del_state" property="delState" typeHandler="com.camelot.kuka.common.mybatis.handler.EnumTypeHandler"/>
		<result column="create_time" property="createTime"/>
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime"/>
		<result column="update_by" property="updateBy" />
	</resultMap>

	<sql id="Base_Column_List">
                id,
                supplier_url,
                supplier_id,
                supplier_name,
                location,
                duty_name,
                duty_id,
                duty_phone,
                mail,
                address,
                status,
                user_id,
                user_name,
                user_photo_url,
                user_phone,
                user_mail,
                jump_status,
                message,
                del_state,
                create_time,
                create_by,
                update_time,
                update_by
    </sql>

	<select id="pageList" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_supplier_request
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.queryName and entity.queryName != ""'>
				<!-- 0 全部 1 用户名 2 ID 3 集成商名称 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 1'>
					and user_id in
					<foreach collection="entity.userIds" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 2'>
					and id = #{entity.queryName}
				</if>
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 3'>
					and supplier_name like CONCAT('%',#{entity.queryName},'%')
				</if>
				<!-- 综合查询 -->
				<if test ='null != entity.queryTypeCode and entity.queryTypeCode == 0'>
					and (
					user_id in
					<foreach collection="entity.userIds" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
					or id = #{entity.queryName}
					or supplier_name like CONCAT('%',#{entity.queryName},'%')
					)
				</if>
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.supplierIds'>
				and
				(
					supplier_id
					in
					<foreach collection="entity.supplierIds" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				)
			</if>

			<!-- 权限查询 -->
			<if test ='null != entity.loginName'>
				and create_by = #{entity.loginName}
			</if>
		</where>
	</select>

	<select id="queryInfo" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			t_supplier_request
		<where>
			<if test ='null != entity.delState'>
				del_state = #{entity.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler}
			</if>
			<if test ='null != entity.id'>
				and id = #{entity.id}
			</if>
		</where>
	</select>

	<insert id="addBatch">
		INSERT INTO
		t_supplier_request(
				id,
				supplier_url,
				supplier_id,
				supplier_name,
				location,
				duty_name,
				duty_id,
				duty_phone,
				mail,
				address,
				status,
				user_id,
				user_name,
				user_photo_url,
				user_phone,
				user_mail,
				jump_status,
				message,
				del_state,
				create_time,
				create_by,
				update_time,
				update_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.supplierUrl},
				#{item.supplierId},
				#{item.supplierName},
				#{item.location},
				#{item.dutyName},
				#{item.dutyId},
				#{item.dutyPhone},
				#{item.mail},
				#{item.address},
				#{item.status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.userId},
				#{item.userName},
				#{item.userPhotoUrl},
				#{item.userPhone},
				#{item.userMail},
				#{item.jumpStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.message},
				#{item.delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
				#{item.createTime},
				#{item.createBy},
				#{item.updateTime},
				#{item.updateBy}
			)
		</foreach>
	</insert>

	<update id="update">
		UPDATE t_supplier_request
		<set>
			<if test ='null != supplierUrl'>
				supplier_url = #{supplierUrl},
			</if>
			<if test ='null != supplierId'>
				supplier_id = #{supplierId},
			</if>
			<if test ='null != supplierName'>
				supplier_name = #{supplierName},
			</if>
			<if test ='null != location'>
				location = #{location},
			</if>
			<if test ='null != dutyName'>
				duty_name = #{dutyName},
			</if>
			<if test ='null != dutyId'>
				duty_id = #{dutyId},
			</if>
			<if test ='null != dutyPhone'>
				duty_phone = #{dutyPhone},
			</if>
			<if test ='null != mail'>
				mail = #{mail},
			</if>
			<if test ='null != address'>
				address = #{address},
			</if>
			<if test ='null != status'>
				status = #{status, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != userId'>
				user_id = #{userId},
			</if>
			<if test ='null != userName'>
				user_name = #{userName},
			</if>
			<if test ='null != userPhotoUrl'>
				user_photo_url = #{userPhotoUrl},
			</if>
			<if test ='null != userPhone'>
				user_phone = #{userPhone},
			</if>
			<if test ='null != userMail'>
				user_mail = #{userMail},
			</if>
			<if test ='null != jumpStatus'>
				jump_status = #{jumpStatus, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != message'>
				message = #{message},
			</if>
			<if test ='null != delState'>
				del_state = #{delState, typeHandler=com.camelot.kuka.common.mybatis.handler.EnumTypeHandler},
			</if>
			<if test ='null != createTime'>
				create_time = #{createTime},
			</if>
			<if test ='null != createBy'>
				create_by = #{createBy},
			</if>
			<if test ='null != updateTime'>
				update_time = #{updateTime},
			</if>
			<if test ='null != updateBy'>
				update_by = #{updateBy}
			</if>
		</set>
		WHERE id = #{id}
	</update>
</mapper>